In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
class Ticket:
    def __init__(self,name,age,num_tickets,movie_name):
        self.name = name
        self.age = age
        self.num_tickets = num_tickets
        self.movie_name=movie.name
'''if __name__ =="__main__":
    name = input("Enter the Name: ")
    num_tickets = int(input("Enter the num_tickets: "))
    age = int(input("Enter the age: "))    
    movie_name = input("Enter the movie_name: ") '''

def calculate_ticket_price(age):
    # Base ticket price
    base_price = 100
    
    # Check age conditions
    if age < 18:
        ticket_price = base_price   
    elif  age > 60:
        ticket_price = base_price + 20      
    else:
        ticket_price = base_price + 50 
    
    return ticket_price
def calculate_total_price(ages):
    total_price = sum(calculate_ticket_price(age) for age in ages)
    return total_price

def calculate_total_price_2(num_tickets):
    tot_price = sum(calculate_ticket_price(age) for age in num_tickets)
    return tot_price


# Test the function with different ages
ages = [2, 5, 15, 25, 70]
for age in ages:
    print(f"For age {age}, the ticket price is Rs {calculate_ticket_price(age) }")
total_price = calculate_total_price(ages)

print(f"The total price for {len(ages)} tickets is Rs {total_price }")
#tot_price = calculate_total_price_2(num_tickets)
#print(f"The total price for {len(num_tickets)} tickets is Rs {total_price }")

For age 2, the ticket price is Rs 100
For age 5, the ticket price is Rs 100
For age 15, the ticket price is Rs 100
For age 25, the ticket price is Rs 150
For age 70, the ticket price is Rs 120
The total price for 5 tickets is Rs 570

In [20]:
class Car:
    def __init__(self,name,model_number,color,engine,roof_top):
        self.name = name
        self.model_number = model_number
        self.color = color
        self.roof_top = roof_top

In [21]:
c1 = Car("Audi","c_2015","green","v8_turbo","No")

In [22]:
c1.name

'Audi'

In [23]:
c1.model_number

'c_2015'

In [24]:
c2 = Car("Toyota","Corolla","Black","Turbo","yes")

In [25]:
c2.color

'Black'

In [26]:
c2.name

'Toyota'

In [3]:
def calculate_ticket_price(age):
    base_price = 100
    
    if age < 18:
        ticket_price = base_price   
    elif  age > 60:
        ticket_price = base_price + 20      
    else:
        ticket_price = base_price + 50 
    
    return ticket_price

def book_movie_tickets():
    num_tickets = int(input("Enter the number of movie tickets: "))
    total_price = 0
    
    for i in range(num_tickets):
        age = int(input(f"Enter the age of ticket holder {i+1}: "))
        ticket_price = calculate_ticket_price(age)
        total_price += ticket_price
        print(f"Ticket price for ticket holder {i+1}: Rs{ticket_price}")
    
    print(f"\nThe total ticket price for {num_tickets} tickets is: Rs{total_price:}")

book_movie_tickets()

Enter the number of movie tickets:  5
Enter the age of ticket holder 1:  13

Ticket price for ticket holder 1: Rs100

Enter the age of ticket holder 2:  25

Ticket price for ticket holder 2: Rs150

Enter the age of ticket holder 3:  65

Ticket price for ticket holder 3: Rs120

Enter the age of ticket holder 4:  24

Ticket price for ticket holder 4: Rs150

Enter the age of ticket holder 5:  12

Ticket price for ticket holder 5: Rs100

The total ticket price for 5 tickets is: Rs620