In [1]:
# String Methods in Python

In [2]:
import pandas as pd

In [3]:
first_name = "SHAIK"
last_name = "MEERAN"

In [5]:
full_name = first_name+" "+last_name
full_name

'SHAIK MEERAN'

In [12]:
full_name_1 = ("{} {}".format(first_name,last_name))
full_name_1

'SHAIK MEERAN'

In [13]:
full_name_2 = print(first_name, last_name)

SHAIK MEERAN

## String Methods

In [17]:
# capitalize - Converts the first character of the string to a capital (uppercase) letter
full_name.capitalize()

'Shaik meeran'

In [21]:
# strip - Returns the string with both leading and trailing characters
car = "     Lamborgini     "
car.strip()

'Lamborgini'

In [19]:
# lstrip- Returns the string with leading characters removed
car = "     Lamborgini     "
car.lstrip()

'Lamborgini     '

In [20]:
# rstrip-Removes trailing characters
car = "     Lamborgini     "
car.rstrip()

'     Lamborgini'

In [23]:
#count() function returns the number of occurrences of a substring within a String.
str = "Data Science is interesting"
str.count('i')

4

In [25]:
# Split() - Splits the string at the specified separator, and returns a list
str = "Data Science is interesting"
str.split()

['Data', 'Science', 'is', 'interesting']

In [27]:
# Returns a string where a specified value is replaced with a specified value
str = "Data Science is interesting"
str.replace('interesting','very interesting')

'Data Science is very interesting'

In [28]:
# title() - Converts the first character of each word to upper case
str = "Data Science is interesting"
str.title()

'Data Science Is Interesting'

In [34]:
# format() - The format() method formats the specified value(s) and insert them inside the string's placeholder.
str1 = "Shaik"
str2 = "Tamil Nadu"
print("My Name is {0} and im from {1}".format(str1,str2))

My Name is Shaik and im from Tamil Nadu

In [2]:
#task 2
# nested if statement

In [3]:
def my_func():
    name = input('Enter your name')
    age = int(input('Enter the age'))
    print(f"Hi your name is {name} and you are {age} years old")

In [5]:
my_func()

Enter your name shaik
Enter the age 28

Hi your name is shaik and you are 28 years old

In [6]:
## Task 3
# write a function to take input from users and perform operations

In [7]:
num = int(input('Enter your number'))
if num >= 0: 
    if num == 0: 
        print("Zero") 
    else: 
        print("Positive number") 
else: 
    print("Negative number")

Enter your number 3

Positive number

In [10]:
import pandas as pd

In [12]:
football_df = pd.read_csv('Euro_2012_stats_TEAM.csv')
football_df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [13]:
# Task 4 - How to display all columns in a dataset
pd.set_option('display.max_columns', None)
football_df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0,11,11,19